<div class="person-card">
  <div class="col-md-3 large-person-pic"><%= image_tag photo_url(person, size: 256), width: 256, class: 'img-person img-person-large img-circle' %></div>
  <div class="col-md-9 person-data">
    <% if current_person.admin? %>
      <div class="pull-right">
        <%= link_to 'Edit', edit_person_path(person), class: 'btn btn-primary' %>
        <%= link_to 'Delete', person, confirm: 'Are you sure?', method: 'delete', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <h1><%= link_to person.name, person %> <%= admin_tag(person) %></h1>
    <table class="table table-striped">
      <tr>
        <td width="1%"><%= icon('tags', 'Tags') %></td>
        <td width="1%">Tags</td>
        <td style=""><%= render partial: 'people/person_tag', collection: person.tags %> </td>
      </tr>
      <tr>
        <td><%= icon('envelope-o', 'Email') %></td>
        <td>Email</td>
        <td><%= person.email %></td>
      </tr>
      <%= render partial: 'people/person_attribute', collection: person.company.attribute_types, locals: { person: person }%>
    </table>
  </div>
</div>
