<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @person.name %></h1>
    <p>
      <%= @added_by.name %> added you as a part of the company called <%= @company.name %>.
    </p>
    <p>
      To login to the site, just follow this link: <%= new_person_session_path(only_path: false) %>.
    </p>
    <p>Login using <%= @person.email %> and this password: <%= @password %></p>
    <p>You should change your password immediately after login.</p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
