<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h1>Change your password</h1>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col-md-6">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), method: 'put', role: 'form') do |f| %>

      <%= f.hidden_field :reset_password_token %>

      <div class="form-group <%= error_class resource, :password %>">
        <%= f.label :password, 'New password' %>
        <%= error_msg resource, :password %>
        <%= f.password_field :password, :autofocus => true, class: 'form-control' %>
      </div>

      <div class="form-group <%= error_class resource, :password %>">
        <%= f.label :password_confirmation, 'Confirm new password' %>
        <%= error_msg resource, :password %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.button 'Change my password', type: 'submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

