<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h1>Forgot your password?</h1>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col-md-6">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), role: 'form') do |f| %>

      <div class="form-group <%= error_class resource, :email %>">
        <%= f.label :email %>
        <%= error_msg resource, :email %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      </div>

      <%= f.button 'Send me reset password instructions', type: 'submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
