<% attr = person.attribute_cached_instance(attribute_field) %>
<div class="form-group <%= error_class attr, :value %>">
  <%= label_tag attribute_field.attribute_name %> <%= '*' if attribute_field.required? %>
  <%= error_msg attr, :value %>
  <%= text_field_tag "person_attributes[#{attribute_field.id}]",
      attr.try(:value) || params[:person_attributes] && params[:person_attributes][attribute_field.id.to_s],
      class: 'form-control' %>
</div>
