<%= form_tag do %>
  <%= hidden_field_tag :person_id, person.id %>
  <div class="form-group <%= error_class person, :name %>">
    <%= label_tag 'Name' %>
    <%= error_msg person, :name %>
    <%= text_field_tag 'person[name]', person.name, class: 'form-control' %>
  </div>
  <div class="form-group <%= error_class person, :email %>">
    <%= label_tag 'Email' %>
    <%= error_msg person, :email %>
    <%= email_field_tag 'person[email]', person.email, class: 'form-control' %>
  </div>
  <% if person_signed_in? %>
    <div class="form-group">
      <%= label_tag 'Tags' %>
      <%= render 'people/tags_input', person: person %>
    </div>
  <% else %>
    <div class="form-group <%= error_class person, :password %>">
      <%= label_tag 'Password' %>
      <%= error_msg person, :password %>
      <%= password_field_tag 'person[password]', nil, class: 'form-control' %>
    </div>
  <% end %>

  <hr />

  <%= render partial: 'register/attribute_field', collection: company.attribute_types, locals: { person: person } %>

  <%= button_tag (person.persisted? ? 'Update' : 'Register'), type: :submit, class: 'btn btn-primary' %>
<% end %>
