<% page = params[:page] ? "?page=#{params[:page]}" : '' %>
<%= form_tag "#{@form_path}#{page}", method: @form_method || :post do %>
  <%= hidden_field_tag(:page, params[:page]) if params[:page] %>
  <%= hidden_field_tag :person_id, person.id %>
  <% if current_person.admin? && person != current_person %>
    <div class="form-group <%= error_class person, :admin %>">
      <%= error_msg person, :admin %>
      <%= check_box_tag 'person[admin]', true, person.admin?, id: "person_admin_#{person.id}"%>
      <%= label_tag "person_admin_#{person.id}", 'Administrator' %>
    </div>
  <% end %>
  <div class="form-group <%= error_class person, :email %>">
    <%= label_tag 'Email' %>
    <%= error_msg person, :email %>
    <%= email_field_tag 'person[email]', person.email, class: 'form-control' %>
  </div>
  <div class="form-group <%= error_class person, :photo %>">
    <%= label_tag 'Photo (url)' %>
    <%= error_msg person, :photo %>
    <%= url_field_tag 'person[photo]', person.photo, placeholder: 'Will use Gravatar if photo url is empty. Square photo works best.', class: 'form-control' %>
  </div>
  <% if person_signed_in? %>
    <div class="form-group">
      <%= label_tag 'Tags' %>
      <%= render 'people/tags_input', person: person %>
    </div>
  <% else %>
    <div class="form-group <%= error_class person, :password %>">
      <%= label_tag 'Password' %>
      <%= error_msg person, :password %>
      <%= password_field_tag 'person[password]', nil, class: 'form-control' %>
    </div>
  <% end %>
  <%= render partial: 'register/attribute_field', collection: company.attribute_types, locals: { person: person } %>

  <%= button_tag (person.persisted? ? 'Update' : 'Register'), type: :submit, class: 'btn btn-primary' %>
<% end %>
