<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body class="application">
    <div class="container">
      <%= render 'shared/nav' %>
      <%= render 'shared/alerts' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
